body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;color:#333;-webkit-font-smoothing: antialiased;word-break: break-all;word-wrap: break-word;font-size: 0.24rem;background: #f5f5f5;line-height: 1;}
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin:0;padding:0;}
body,ul,ol,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,td,th,button,strong,em,select,video,canvas{margin:0;padding:0;}
img{ border:none; vertical-align:middle;width: 100%;display: block;}
ul, ol, li, dl, dd {margin: 0;padding: 0;list-style: none;}
a{text-decoration: none;color: inherit; }
input[type='text'], input[type='number'], input[type='password'], input[type='reset'], input[type='submit'], input[type='button'], input[type='tel'], button, textarea {-webkit-appearance: none;border-radius: 0;border: none;outline:none;}
button, input, optgroup, select, textarea {color: inherit;font: inherit;margin: 0;}
a,button,input,textarea{-webkit-appearance: none;-webkit-tap-highlight-color:rgba(0,0,0,0);outline: none;}
textarea{resize:none;overflow:auto;}
input{line-height: normal;}
a, img {-webkit-touch-callout: none;}
input::-webkit-search-cancel-button {-webkit-appearance: none;}
address, caption, cite, code, dfn, em, strong, th, var, b,i {font-style: normal;font-weight: 400;}
.clear{zoom:1;}
.clear:after{content:''; display:block; clear:both;}
.fl{float:left;}
.hide{display: none;}
.fr{float:right;}

@import '../style/mixin';
